# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Lambda deployment packages
*.zip

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# AWS
.aws-sam/
samconfig.toml

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

#Keys
.env
.env.*
*.pem
*.key
*.crt
*.p12
secrets/
config/local.yaml

